

/******************************************** Reset ********************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************** Animations ****************************************/

.IDO, .IAM, .grid {
animation-duration:1.5s;
animation-delay: .5s;
-webkit-animation-duration:1.5s;
-webkit-animation-delay: .5s;
}



/**************************************** Sass Variable ****************************************/

$pPurple: #5c466d;


/**************************************** HTML ****************************************/

html{
font-family: 'Raleway', sans-serif;
//   overflow-x: hidden; 
}

body{
    overflow-x: hidden;
    background-color: #212121;
    color: white;

}

.f25{
float: left;
width: 25%;
line-height: 1.5;


}

.f25R{
width: 25%;
float: right;
line-height: 1.5;
}

.f33{
float: left;
width: 25%;
line-height: 1.5;

}

.f33R{
width: 25%;
float: right;
line-height: 1.5;
}


.f50R{
width: 50%;
float: right;
    text-align: left;
line-height: 1.5;

}
.f50{
width: 50%;
float: left;
text-align: right;
line-height: 1.5;
}

.f75R{
width: 75%;
float: right;
line-height: 1.5;
}
.f75{
width: 75%;
float: left;
line-height: 1.5;

}

.f100{
width: 100%;
clear: both;
line-height: 1.5;
    
}




/**************************************** Header ****************************************/
video{
  width: 101%;
    height: auto;
    max-height: 200%;
}
.promo-video {
  position: relative; 
    

    #overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 99.7%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(47, 47, 47, 0.26) 0%, rgba(0, 0, 0, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b329669e', endColorstr='#b32a3b5a',GradientType=0 );
}
}

 nav {
    text-align: right;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
     background-color:  rgba(0, 0, 0, 0.56);
    ul {
        display: inline-flex;
        text-shadow: 4px 4px 10px #000;
        color: white;
        font-size: 30px;
    }
    li {
        padding: 20px;
        a {
            color: white;
                animation-duration: 1s;
    transition: all .5s ease;
        }
        a:link {
            text-decoration: none;
        }
        a:active {
            color: cadetblue;
        }
        a:hover {
            color: cadetblue;
        }
    }
}

  .promo-video .header-content {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .promo-video .header {
    left: 0;
    top: 35%;
    position: absolute;
    width: 100%; 

     

      h1 {
  text-shadow: 4px 4px 10px #000;
      color: white;
          
          font-weight: 700;
        text-align: center;
        font-size: 100px;
          -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
    
    
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
}
      
h4{

text-align: center;
font-size: 30px;
color: #fff;
font-weight: 400;
    text-shadow: 4px 4px 10px #000;
padding-left: 10px;
padding-right: 10px;
  
  
    
     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
    
    
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    }
}




/**************************************** What I Can DO/Who I Am Section ****************************************/
.container {
    padding: 20px;
    margin: 0 auto;
}

.IDO {
    margin-bottom: 40%;
}

.IAM,
.IDO {
    h1 {
        text-align: center;
        font-size: 40px;
        padding: 20px;
        font-weight: 600;
        padding-bottom: 40px;
    }
    h2 {
        text-align: center;
        padding: 20px;
        font-size: 22px;
    }
    p {
        padding: 15px;
        line-height: 1.2;
    }
    .icon {
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}


.box {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    animation-duration: 1s;
    transition: all .5s ease;
    background-color: cadetblue;
    h1 {
        font-size: 25px;
    }
}

.box:hover {
    background-color: $pPurple;
}

/******************************** Work Samples Section ********************************/

.LatestWork {
    height: 100%;
    background-color: #151515;
    h1 {
        text-align: center;
        font-size: 40px;
        padding: 20px;
        font-weight: 600;
    }
}

.grid {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    p {
        padding-bottom: 20px;
        width: 80%;
        margin: 0 auto;
    }
}

.grid_box {
    width: 210px;
    height: 100%;
    //    background-color: white;
    margin: 2%;
    display: inline-block;
    vertical-align: top;
    img {
        height: 210px;
        width: 210px;
        object-fit: cover;
    }
 
    a {
        text-decoration: none;
    }
  
}

.hover {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 10px;
}

.hover img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hover:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}

.small {
    font-size: 14px;
    font-weight: 200;
}

.workButton {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
      a {
            color: white;
            text-decoration: none;
          
        
    button {
        background-color: black;
        border: none;
        padding: 20px;
        color: white;
        font-size: 20px;
          -webkit-animation-duration: 4s;
            -webkit-transition: all 1.2s ease;
            animation-duration: 4s;
            transition: all 1.2s ease;
      
    }
    }
    a button:hover {
        color: cadetblue;
    }
    button:focus {
        outline: 0;
    }
}

/**************************************** Work Page ****************************************/

.workPhoto {
    background-image: url(images/code-1486361_1280.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 400px;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.69);
    background-blend-mode: multiply;
    h1 {
        padding-top: 140px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 70px;
        color: #fff;
        font-weight: 800;
        text-shadow: 4px 4px 10px #000;
        text-align: center;
    }
    p{
   
        padding-left: 10px;
        padding-right: 10px;
        font-size: 23px;
        color: #fff;
        font-weight: 500;
        text-shadow: 4px 4px 10px #000;
        text-align: center;   
    }
}

.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    
}

#anime{
    background-image: url(work/animePHP.png);
}
#wp{
    background-image: url(work/Tattoos.png);
}
#paperPlanes{
    background-image: url(work/FrequentFlyers.png);
}
#RPSoccer{
    background-image: url(work/RedPandaSoccer.png);
}
#Erikson{
    background-image: url(work/EriksonLandscape.png);
}
#burger{
    background-image: url(work/BurgerAD.png);
}
#intoWind{
    background-image: url(work/intoWind.png);
}
#roast{
    background-image: url(work/Roastme.png);
}
#hotel{
    background-image: url(work/Hotel.png);
}
#portfolio{
    background-image: url(work/portfolio.png);
}
#PCBooks{
    background-image: url(work/penncollegeBooks.png);
}
#UW{
    background-image: url(work/unitedWay.png);
}
#SND{
    background-image: url(work/SND.png);
}

/**************************************** About Page ****************************************/

.aboutPhoto {
    background-image: url(images/soccerColleen.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 400px;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.69);
    background-blend-mode: multiply;
    h1 {
        padding-top: 160px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 70px;
        color: #fff;
        font-weight: 800;
        text-shadow: 4px 4px 10px #000;
        text-align: center;
    }
   
}
.aboutMe {
    h1 {
        width: 100%;
        text-align: center;
        font-size: 40px;
        padding: 20px;
        background-color: #5c466d;
        height: 100px;
        padding-top: 50px;
    }
}

.aboutInfo {
    p {
        padding: 40px;
        font-size: 20px;
    }
}

/**************************************** Classes Section ****************************************/

    .classes {
    padding-top: 20px;
    height: 100%;
    overflow: auto;
    h1 {
       background-color: cadetblue;
    color: whitesmoke;
    height: 100px;
    font-weight: lighter;
    padding: 20px;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    }
    h2 {
        text-align: center;
        padding-top: 25px;
        font-size: 25px;
    }
    ul{
        text-align: left;
        padding: 20px;
        
    }
    li{
        padding-bottom: 10px;
     
a:link {
        color: whitesmoke;
        text-decoration: none;
        -webkit-animation-duration: 4s;
        -webkit-transition: all 1.2s ease;
        animation-duration: 4s;
        transition: all 1.2s ease;
    }
    
    a:hover {
            color: cadetblue;
        text-decoration: none;
    }
    
    a:visited {
        color: black;
    }
}

}


/**************************************** Skills Section ****************************************/


.skills {
    height: 400px;
    width: 100%;
   
    
   
    
    h3{
        padding: 10px;
        margin: 0 auto;
        text-align: left;
        width: 80%;
    }
}

.mySkills {
   color: white;


    h1 {
       color: black;
    font-weight: lighter;
    font-size: 50px;
    padding: 20px;
    height: 100px;
    padding-top: 50px;
    text-align: center;
    background-color: whitesmoke;

    }
}

.skillsInfo {
    padding: 5px;
   
    width: 99%;
     color: white;  
    
}

.skillsPadBottom{
padding-bottom: 30px;
}

/******************* Progress Bar  ******************/
#myProgress {
	position: relative;
	height: 20px;
	border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    
 
   
	
}



#label {
	text-align: center;
	line-height: 19px;
	color: black;
    font-size: 20px;
}
  
.cProgress{
    text-align: center;
    padding-bottom: 40px;
    }
#htmlBar{
	position: absolute;
	width: 00%;
	height: 100%;
	background-color: #4CAF50;
    
   -webkit-animation: htmlBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: htmlBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes htmlBar {
    
    from {width: 0%;}
    to { width: 90%; }
}

@keyframes htmlBar {
    
    from {width: 0%;}
    to { width: 90%; }
}

#JavaJQBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #c7b000;
 
   -webkit-animation: JavaJQBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: JavaJQBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes JavaJQBar {
    
    from {width: 0%;}
    to { width: 43%; }
}

@keyframes JavaJQBar {
    
    from {width: 0%;}
    to { width: 43%; }
}


#IllustratorBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;
   -webkit-animation: IllustratorBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: IllustratorBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes IllustratorBar {
    
    from {width: 0%;}
    to { width: 81%; }
}

@keyframes IllustratorBar {
    
    from {width: 0%;}
    to { width: 81%; }
}

#PhotoshopBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;

       -webkit-animation: PhotoshopBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: PhotoshopBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes PhotoshopBar {
    
    from {width: 0%;}
    to { width: 87%; }
}

@keyframes PhotoshopBar {
    
    from {width: 0%;}
    to { width: 87%; }
}
    
    
#IndesignBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;
    
       -webkit-animation: IndesignBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: IndesignBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes IndesignBar {
    
    from {width: 0%;}
    to { width: 82%; }
}

@keyframes IndesignBar {
    
    from {width: 0%;}
    to { width: 82%; }
}
    
    
#DreamBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;
   -webkit-animation: DreamBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: DreamBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes DreamBar {
    
    from {width: 0%;}
    to { width: 84%; }
}

@keyframes DreamBar {
    
    from {width: 0%;}
    to { width: 84%; }
}



#CMSBar {
	position: absolute;
	width: 0%;
	height: 100%;
    background-color: #c7b000;
   -webkit-animation: CMSBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: CMSBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes CMSBar {
    
    from {width: 0%;}
    to { width: 76%; }
}

@keyframes CMSBar {
    
    from {width: 0%;}
    to { width: 76%; }
}

#PHPBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #b70000;
   -webkit-animation: PHPBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: PHPBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes PHPBar {
    
    from {width: 0%;}
    to { width: 32%; }
}

@keyframes PHPBar {
    
    from {width: 0%;}
    to { width: 32%; }
}
#mySQLBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #c7b000;

   -webkit-animation: mySQLBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: mySQLBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes mySQLBar {
    
    from {width: 0%;}
    to { width: 69%; }
}

@keyframes mySQLBar {
    
    from {width: 0%;}
    to { width: 69%; }
}    
    
#sMediaBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;
   -webkit-animation: sMediaBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: sMediaBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes sMediaBar {
    
    from {width: 0%;}
    to { width: 97%; }
}

@keyframes sMediaBar {
    
    from {width: 0%;}
    to { width: 97%; }
} 
#mOfficeBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;

   -webkit-animation: mOfficeBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: mOfficeBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes mOfficeBar {
    
    from {width: 0%;}
    to { width: 93%; }
}

@keyframes mOfficeBar {
    
    from {width: 0%;}
    to { width: 93%; }
}     
    
    
#animation {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;

       -webkit-animation: animation  3s forwards;
    -webkit-animation-delay: 2s;
    animation: animation 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes animation {
    
    from {width: 0%;}
    to { width: 83%; }
}

@keyframes animation {
    
    from {width: 0%;}
    to { width: 83%; }
} 

   


#SCSSGitBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;

       -webkit-animation: SCSSGitBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: SCSSGitBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes SCSSGitBar {
    
    from {width: 0%;}
    to { width: 84%; }
}

@keyframes SCSSGitBar {
    
    from {width: 0%;}
    to { width: 84%; }
} 


#frameworksBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #c7b000;

       -webkit-animation: frameworksBar  3s forwards;
    -webkit-animation-delay: 2s;
    animation: frameworksBar 3s forwards;
    animation-delay: 2s;



}

@-webkit-keyframes frameworksBar {
    
    from {width: 0%;}
    to { width: 79%; }
}

@keyframes frameworksBar {
    
    from {width: 0%;}
    to { width: 79%; }
} 

.key{


    ul{
     
     
    }
    li{
      padding: 10px;  
    display: inline-block;
    }
    span{
         padding-left: 20px;
    }
    
    #redBox{
        background-color: #b70000;
        color: #b70000;
       
    }
    
      #yellowBox{
        background-color: #c7b000;
        color: #c7b000;
       
    }
    
      #greenBox{
        background-color: #4CAF50;
        color: #4CAF50;
       
    }

}


/**************************************** Footer ****************************************/


footer{
    background-color: $pPurple;
    height: 100%;
 
    
    h1{
        font-size: 70px;
        color: white;
        text-align: center;
        font-weight: 700;
        padding: 20px;
           line-height: 1;
    }
    
    h2{
        
        font-size: 30px;
        color: white;
        text-align: center;
        font-weight: 100;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
           line-height: 1;
        
    }
      h3{
        
        font-size: 25px;
        color: white;
        text-align: center;
        font-weight: 100;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
           line-height: 1;
        
    } 
    p{
        
        font-size: 15px;
        color: white;
        text-align: center;
        font-weight: 100;
      padding: 20px;
        line-height: 1;
        
        
    }
    
         h5{
            font-size: 17px;
            color: white;
            text-align: center;
            padding-bottom: 20px;
             
   
        }
      
     
    i{
        color: white;
margin: 0 auto;
padding-left: 9px;
padding-right: 9px;
-webkit-animation-duration: 2s;
-webkit-transition: all 1s ease;
animation-duration: 2s;
transition: all 1s ease;
        
    }

i:hover{
  
}
i:active{
   
}
    .socialMedia{
        text-align: center;
        
       
    }

}

.email a{
text-decoration: none;
                color: white;
                 
                 -webkit-animation-duration: 2s;
-webkit-transition: all 1s ease;
animation-duration: 2s;
transition: all 1s ease;
 
    
 
    
}
  .email a:hover{
       
    }
    
   .email a:active{
        
    }


/**************************************** Media Queries ****************************************/




@media only screen and (max-width: 800px) {
    .f50 {
        width: 100%;
        text-align: left;
    }
    .f50R {
        width: 100%;
    }
    .f25R {
        width: 100%;
    }
    .f75R {
        width: 100%;
    }
    .f25 {
        width: 50%;
    }
    .f25:nth-of-type(2n+1) {
        clear: left;
    }
    .key {
        text-align: left;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .promo-video .header {
        left: 0;
        top: 15%;
        position: absolute;
        width: 100%;
    }
    .box {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
    }
    nav {
        li {
            display: none;
            font-size: 40px;
            padding: 17px;
            text-align: center;
        }
        ul {
            display: inline;
        }
        i {
            padding: 10px
        }
    }
    .aboutInfo {
        p {
            padding: 40px;
            font-size: 15px;
        }
    }
    .classes li{
        text-align: center;
    }
}



@media only screen and (max-width: 500px) {
    .f25 {
        width: 100%;
    }
    .promo-video .header {
        top: 30%;
        h1 {
            font-size: 40px;
        }
        h4 {
            font-size: 20px;
        }
    }
}



@media only screen and (min-width: 800px) {
    .f50 {
        width: 50%;
    }
    .f50R {
        width: 50%;
    }
    .f25R {
        width: 25%;
    }
    .f75R {
        width: 75%;
    }
    .f25 {
        width: 25%;
    }
    .f25:nth-of-type(2n+1) {
        clear: none;
    }
    .key {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .burger {
        display: none;
    }
}